.App {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.form-container {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.task {
  font-size: 10px;
  width: 300px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  margin-top: 20px;
}
